<?xml version="1.0" encoding="UTF-8"?>
<beans
xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:aop="http://www.springframework.org/schema/aop" 
xsi:schemaLocation=" http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
<!-- La configuration AOP --> 

<!-- Debut de la configuration AOP-->
<aop:config>
<aop:pointcut id="servicePointcut" expression="execution(* CompA.*.*(..))"/>

<aop:aspect id="loggingAspect" ref="monLogger">

<aop:after method="logMethodEntry" pointcut-ref="servicePointcut"/> 

</aop:aspect> 
</aop:config>

<!-- La classe du greffon Aspect-->
<bean id="monLogger" class="CompA.info_escale" />
<!-- La classe a greffé-->
<bean name="vols" class="CompA.Vol" /> 

</beans> 